<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    @if(error){
    <!-- <div class="alert alert-danger">
      <p>
        {{ error }}
      </p>
    </div> -->
    <app-alert [message]="error" (close)="onHandleError()"></app-alert>
    } @if(isLoading){
    <div style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    } @else{
    <form (ngSubmit)="onSubmit()" #authForm="ngForm">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Log in" : "Sign up" }}
        </button>
        &nbsp;
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch to {{ isLoginMode ? "Sign up" : "Log in" }}
        </button>
      </div>
    </form>
    }
  </div>
</div>
